/* 全局样式 */
* {
  box-sizing: border-box;
}

/* 下拉框的样式 */
select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  /* appearance: none; 去除默认样式 */
}

/* 输入框的样式 */
input {
  width: 100%;
  padding: 8px;
  /* 调整与下拉框相同的内边距 */
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
  background-image: linear-gradient(135deg, #f8c0c8, #e1f1ff);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  text-align: center;
  color: #007bff;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input:focus {
  border-color: #007bff;
}

button {
  padding: 12px 25px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 15px 0;
  /* 添加上下外边距，这里设为15px */
  transition: background-color 0.3s;
}

button.removeRule {
  background-color: #dc3545;
}

pre {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  white-space: pre-wrap;
}


/* Styling for the label */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Styling for the select options */
select option {
  padding: 8px;
}

/* Styling for the select when focused or hovered */
select:focus,
select:hover {
  border-color: #007bff;
}

#editor {
  height: 300px;
  width: 100%;
  font-size: 14px;
}

#cloudFormationOutput {
  height: 300px;
  width: 100%;
  font-size: 14px;
}